body {
    font-family: 'Noto Sans KR', sans-serif;
}
hr {
    border-top: 1px solid black;
}
.card {
    margin-bottom: 20px;
}
.letter-spacing {
    letter-spacing: 2px;
}
.name h2 {
    font-weight: 700;
}
.intro-font-weight h5{
    font-weight: 650;
}
.font-size-14 {
    font-weight: 360;
    font-size: 16px;
}
.custom-indent {
    margin-left: 35px;
}
.mb-custom {
    margin-bottom: 27px;
}
.footer {
    margin-bottom: 70px;
}
.reminder {
    font-size: 11.5px;
    color: #888888;
    font-weight: 400;
}

